{
  "openapi": "3.0.0",
  "info": {
    "title": "FH Turbo API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.something.com"
    },
    {
      "url": "http://localhost:7701"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/admin/login": {
      "post": {
        "description": "",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "trial_count": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "email": "ccc@gmail.com",
                "password": "cccddedded",
                "trial_count": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "fullname": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "accessLevel": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "deletedAt": {},
                        "token": {
                          "type": "string"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": 1,
                    "fullname": "Daniel",
                    "email": "ccc@gmail.com",
                    "accessLevel": "ADMIN",
                    "createdAt": "2024-04-16T21:04:49.714Z",
                    "updatedAt": "2024-04-16T21:04:49.714Z",
                    "deletedAt": null,
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZnVsbG5hbWUiOiJEYW5pZWwiLCJlbWFpbCI6ImNjY0BnbWFpbC5jb20iLCJwYXNzd29yZCI6IiQyYiQxMCR2UkVKYnRsbFBqWDRiMUFjeEk3bzhPUURHMmNLemdsZ1hab0RucWRTTmQ0WFE1WFd2LllUZSIsInBhc3N3b3JkUmVjb3ZlcnlDb2RlIjpudWxsLCJhY2Nlc3NMZXZlbCI6IkFETUlOIiwiY3JlYXRlZEF0IjoiMjAyNC0wNC0xNlQyMTowNDo0OS43MTRaIiwidXBkYXRlZEF0IjoiMjAyNC0wNC0xNlQyMTowNDo0OS43MTRaIiwiZGVsZXRlZEF0IjpudWxsLCJpYXQiOjE3MTMzMDE0OTR9.S_y9AWIq5sUl20chWV1ftIbwyytYDq4EZ7luRPoQOXU"
                  },
                  "message": "Your login was successful",
                  "status": true
                }
              }
            }
          }
        }
      }
    },
    "/subscription/create-plan": {
      "post": {
        "description": "",
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "Free-test",
                "status": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Subscription plan created successfully",
                  "data": {
                    "id": 4,
                    "name": "Free-test",
                    "status": true,
                    "createdAt": "2024-04-16T21:04:54.681Z",
                    "updatedAt": "2024-04-16T21:04:54.681Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/markets": {
      "get": {
        "description": "",
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "countryName": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "currencyName": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "deletedAt": {}
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Ok",
                  "data": [
                    {
                      "id": 1,
                      "countryName": "Nigeria",
                      "countryCode": "NG",
                      "currencyCode": "NGN",
                      "currencyName": "Naira",
                      "currencySymbol": "₦",
                      "createdAt": "2024-04-16T21:04:49.719Z",
                      "updatedAt": "2024-04-16T21:04:49.719Z",
                      "deletedAt": null
                    },
                    {
                      "id": 2,
                      "countryName": "United States of America",
                      "countryCode": "USA",
                      "currencyCode": "USD",
                      "currencyName": "United States Dollar",
                      "currencySymbol": "$",
                      "createdAt": "2024-04-16T21:04:49.719Z",
                      "updatedAt": "2024-04-16T21:04:49.719Z",
                      "deletedAt": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscription/admin-plans": {
      "get": {
        "description": "",
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "deletedAt": {}
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Ok",
                  "data": [
                    {
                      "id": 1,
                      "name": "Free",
                      "status": true,
                      "createdAt": "2024-04-16T21:04:49.744Z",
                      "updatedAt": "2024-04-16T21:04:49.744Z",
                      "deletedAt": null
                    },
                    {
                      "id": 2,
                      "name": "Regular",
                      "status": true,
                      "createdAt": "2024-04-16T21:04:49.744Z",
                      "updatedAt": "2024-04-16T21:04:49.744Z",
                      "deletedAt": null
                    },
                    {
                      "id": 3,
                      "name": "Premium",
                      "status": true,
                      "createdAt": "2024-04-16T21:04:49.744Z",
                      "updatedAt": "2024-04-16T21:04:49.744Z",
                      "deletedAt": null
                    },
                    {
                      "id": 4,
                      "name": "Free-test",
                      "status": true,
                      "createdAt": "2024-04-16T21:04:54.681Z",
                      "updatedAt": "2024-04-16T21:04:54.681Z",
                      "deletedAt": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscription/create-plan-price": {
      "post": {
        "description": "",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planId": {
                    "type": "number"
                  },
                  "marketId": {
                    "type": "number"
                  },
                  "freePlanPriceInDays": {
                    "type": "number"
                  },
                  "priceAMonth": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "planId": 3,
                "marketId": 2,
                "freePlanPriceInDays": 7,
                "priceAMonth": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "planId": {
                          "type": "number"
                        },
                        "marketId": {
                          "type": "number"
                        },
                        "freePlanPriceInDays": {
                          "type": "number"
                        },
                        "priceAMonth": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "deletedAt": {}
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Subscription price created successfully",
                  "data": {
                    "id": 2,
                    "planId": 3,
                    "marketId": 2,
                    "freePlanPriceInDays": 7,
                    "priceAMonth": 10,
                    "updatedAt": "2024-04-16T21:04:54.724Z",
                    "createdAt": "2024-04-16T21:04:54.724Z",
                    "deletedAt": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/admin-get-plans": {
      "get": {
        "description": "",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "marketId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "planId": {
                            "type": "number"
                          },
                          "marketId": {
                            "type": "number"
                          },
                          "freePlanPriceInDays": {
                            "type": "number"
                          },
                          "priceAMonth": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "deletedAt": {},
                          "market": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "countryName": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "currencyCode": {
                                "type": "string"
                              },
                              "currencyName": {
                                "type": "string"
                              },
                              "currencySymbol": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "deletedAt": {}
                            }
                          },
                          "subscriptionPlan": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "deletedAt": {}
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Ok",
                  "data": [
                    {
                      "id": 2,
                      "planId": 3,
                      "marketId": 2,
                      "freePlanPriceInDays": 7,
                      "priceAMonth": 10,
                      "createdAt": "2024-04-16T21:04:54.724Z",
                      "updatedAt": "2024-04-16T21:04:54.724Z",
                      "deletedAt": null,
                      "market": {
                        "id": 2,
                        "countryName": "United States of America",
                        "countryCode": "USA",
                        "currencyCode": "USD",
                        "currencyName": "United States Dollar",
                        "currencySymbol": "$",
                        "createdAt": "2024-04-16T21:04:49.719Z",
                        "updatedAt": "2024-04-16T21:04:49.719Z",
                        "deletedAt": null
                      },
                      "subscriptionPlan": {
                        "id": 3,
                        "name": "Premium",
                        "status": true,
                        "createdAt": "2024-04-16T21:04:49.744Z",
                        "updatedAt": "2024-04-16T21:04:49.744Z",
                        "deletedAt": null
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscription/price/1": {
      "delete": {
        "description": "",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Subscription plan price deleted successfully"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/price/2": {
      "delete": {
        "description": "",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Subscription plan price deleted successfully"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/plan/4": {
      "delete": {
        "description": "",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Subscription plan deleted successfully"
                }
              }
            }
          }
        }
      }
    }
  }
}